In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('car_data_2.csv',encoding='latin-1')

In [3]:
df.style.background_gradient(cmap='PuBu')

The statistics of the percentages as pass rates shows the colour keys of each pass rate. The maximum percentage is 50.1000000 which is 2025-2026 Q1 April-June. The minimum percentage is 47.000000 which is 2023-2024 Q4 January-March. Pass rates shows the number of conducts and passes during car driving test thoroughout each quarter of the year where the candidates passed or conducted our driving test.

In [4]:
average_rate = df['Pass rate (Percentage)'].mean()

In [5]:
print(f'The average of the Pass Rate is {average_rate}')

The average of the Pass Rate is 48.47692307692307