In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('motorcycle_data_2.csv',encoding='latin-1')

The results of the motorcycle rate is shows of percentages of those pass rates are coloured as key codes. For example: Lightest colour represents the minimum number and Darkest colour represents the maximum number.

In [3]:
df.style.background_gradient(cmap='Oranges')

The statistics shows results of those percentages as pass rates.
 The maximum percentage of the motorycle pass rate is 2025-2026 (year to date) and the catergory - Motorcycle Module 1 Off Road. The minimum percentage of the motocycle pass rate is 2022-2023 and the catergory - Motorcycle Module 2 On Road.

In [4]:
df.describe()

       Pass rate (Percentage)
count                8.000000
mean                72.700000
std                  1.417241
min                 70.700000
25%                 71.725000
50%                 72.900000
75%                 73.325000
max                 75.100000